{% extends 'layout.twig' %}

{% block body %}

<div class = "container">
  <h1>Usuario 2</h1>
     
<div class = "row"> 
<div class = "col-sm">
    <div id="meeta"></div>
</div>
<div class = "col-sm"> 
    <button id="button">Empezar a escuchar!!</button>
</div>

<div class = "col-sm"> 
    <div id="result">
</div>

    </div>

</div>
</div>
<script src='https://meet.jit.si/external_api.js'></script>
<script src="/javascripts/user2.js"></script>
{% endblock %}